## Windows
x64/
Debug/
*.sdf
*.opensdf
*.sln
*.db
*.vcxproj
*.filters
.vs/

## Xcode 

## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

EyeLogic.xcodeproj/
ipch/

## Images folder
images/