## Windows
x64/
Debug/
*.sdf
*.opensdf
*.sln
*.db
*.vcxproj
*.filters
.vs/

## Xcode 

## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

usingQtDesigner.xcodeproj/
ipch/

usingQtDesigner.build/

## Images folder
images/
*.opendb
usingQtDesigner.vcxproj.user
usingQtDesigner.pro.user.4e49bb1
debug
GeneratedFiles
release
.exe
usingQtDesigner.xcodeproj
.qmake.stash
/EyeLogic-MP/Qt/moc_widget.cpp
/EyeLogic-MP/Qt/ui_widget.h
/EyeLogic-MP/Qt/.qmake.stash
/EyeLogic-MP/Qt/Info.plist
/EyeLogic-MP/Qt/moc_predefs.h
/EyeLogic-MP/.DS_Store
/EyeLogic-MP/Qt/Makefile
/EyeLogic-MP/Qt/Makefile.Debug
/EyeLogic-MP/Qt/Makefile.Release
/EyeLogic-MP/build-usingQtDesigner-Desktop_Qt_5_9_0_MSVC2015_64bit-Debug/Makefile
/EyeLogic-MP/build-usingQtDesigner-Desktop_Qt_5_9_0_MSVC2015_64bit-Debug/Makefile.Debug
/EyeLogic-MP/build-usingQtDesigner-Desktop_Qt_5_9_0_MSVC2015_64bit-Debug/Makefile.Release
/EyeLogic-MP/.DS_Store
/EyeLogic-MP/Qt/.qmake.stash
/EyeLogic-MP/Qt/Info.plist
/EyeLogic-MP/Qt/moc_predefs.h
/EyeLogic-MP/Qt/moc_widget.cpp
/EyeLogic-MP/ref_images/bottomLeftAfter.jpg
/EyeLogic-MP/ref_images/bottomLeftBefore.jpg
/EyeLogic-MP/ref_images/bottomRightAfter.jpg
/EyeLogic-MP/ref_images/bottomRightBefore.jpg
/EyeLogic-MP/ref_images/centerAfter.jpg
/EyeLogic-MP/ref_images/centerBefore.jpg
/EyeLogic-MP/ref_images/topLeftAfter.jpg
/EyeLogic-MP/ref_images/topLeftBefore.jpg
/EyeLogic-MP/ref_images/topRightAfter.jpg
/EyeLogic-MP/ref_images/topRightBefore.jpg
/EyeLogic-MP/sourceImg.jpg
