## Windows
x64/
Debug/
*.sdf
*.opensdf
*.sln
*.db
*.vcxproj
*.filters
.vs/

## Xcode 

## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

EyeLogic.xcodeproj/
ipch/

usingQtDesigner.build/

## Images folder
images/
*.opendb
usingQtDesigner.vcxproj.user
usingQtDesigner.pro.user.4e49bb1
debug
GeneratedFiles
release
